<div class="file-info-container">
  <div class="file-info-top-section">
    <h1>File Details</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="size-6 file-info-container-close"
    >
      <path d="M18 6 6 18" />
      <path d="m6 6 12 12" />
    </svg>
  </div>
  <div class="file-info-content">
    <% if (file.isImage) { %>
      <div class="file-info-img-container">
        <img src="/<%= file.path %>" alt="<%= file.fileName %>">
      </div>
    <% } %>
    <div class="file-info-content-section">
      <span>File</span>
      <span class="file-info-details"><%= file.fileName %></span>
    </div>
    <div class="file-info-content-section">
      <span>Created</span>
      <span class="file-info-details"><%= file.formatCreatedAt %></span>
    </div>
    <div class="file-info-content-section">
      <span>Size</span>
      <span class="file-info-details"><%= file.formatSize %></span>
    </div>
  </div>
</div>
