<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/partials/notification.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link rel="stylesheet" href="/css/foldersPage.css" />
    <link rel="stylesheet" href="/css/partials/tools.css" />
    <link rel="stylesheet" href="/css/partials/addFileModal.css" />
    <link rel="stylesheet" href="/css/partials/fileCard.css" />
    <link rel="stylesheet" href="/css/partials/backdrop.css" />
    <link rel="stylesheet" href="/css/partials/drivePlusBtn.css" />
    <script src="/js/addFileModal.js" defer></script>
    <script src="/js/drivePlusBtn.js" defer></script>
    <script src="/js/errors.js" defer></script>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/addFileModal") %>
    <main>
      <div class="container">
        <%- include("partials/errors") %> <%- include("partials/tools") %>
        <div class="drive-container">
          <h1 class="drive-name">My Drive</h1>
          <div class="drive-contents">
            <% files.forEach((file) => { %>
            <%- include("partials/fileCard",
            {file}) %>
            <% }) %>
          </div>
        </div>
        <%- include("partials/drivePlusBtn") %>
        <%- include("partials/backdrop") %>
      </div>
    </main>
  </body>
</html>
